<footer class="cor-bg-color-lightgrayishblue">
    <div class="cor-footer-container cor-footer-bind">
        <div class="cor-footer-section1"> 
            <img src="../../../assets/images/home/image 1.png">
            <p class="cor-footer-section1-para cor-text-14-400-Nunito">
                CORtracker is designed especially for the electronic components distribution 
                industry but flexible enough to accommodate any distribution and inventory needs.
            </p>
        </div>
        <div class="cor-footer-section2">
            <h1 class="cor-text-18-700-Nunito-Sans">Reach us</h1>
            <p class="cor-text-14-400-Nunito">
                37085, Grand River Avenue, .
                Suite #083, Farmington, MI, 48335,<br>USA.<br><br> 
                <span class="cor-text-16-400-Nunito"> <b>Phone:</b> +1-248-370-5860</span><br>
                <span class="cor-text-16-400-Nunito"> <b>Email:</b>  sales@cortracker.com</span><br>
                <span class="cor-text-16-400-Nunito"> <b>Email:</b>  support@cortracker.com</span><br>
            </p>
        </div>
        <div class="cor-footer-section3"> 
            <h1 class="cor-text-18-700-Nunito-Sans">About Us</h1>
            <ul class="cor-text-14-400-Nunito">
                <li>Contact Us </li>
                <li>About Us </li>
                <li>Terms</li>
                <li>Packages</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="cor-footer-section3"> 
            <h1 class="cor-text-18-700-Nunito-Sans">Services</h1>
            <ul class="cor-text-14-400-Nunito">
                <li>Increase Sales</li>
                <li>Manage Orders</li>
                <li>End-to-end tracking</li>
                <li>Multiple shipping integrations</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="cor-footer-section3"> 
            <h1 class="cor-text-18-700-Nunito-Sans">Follow us</h1>
            <ul class="cor-text-14-400-Nunito">
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Linked in</li>
            </ul>
        </div>
    </div>   
    <div class="footer-toe-container cor-bg-color-lightgrayishblue cor-toe-bind cor-text-14-400-Nunito">
        <p>© Copyrights Cortracker Inc 2012 - 2022. All rights reserved.</p>
    </div>
</footer>


