<footer >
    <div  class="cor-footer-container cor-bg-color-lightgrayishblue cor-footer-bind">
        <div class="cor-footer-section1">
            <img src="../../../assets/images/home/image 1.png" alt="" class="cor-footer-section1-img">
            <p class="cor-footer-section1-para cor-text-14-400-Nunito">CORtracker is designed especially for the electronic components distribution industry but flexible enough to accommodate any distribution and inventory needs.</p>
        </div>
    <div class="cor-footer-section2 cor-footer-section2">
        <h1 class="cor-text-18-700-Nunito-Sans">Reach us</h1>
        <p class="cor-text-16-400-Nunito">
            37085, Grand River Avenue, .
            Suite #083, Farmington, MI, 48335, USA.<br>
            <span class="cor-text-16-700-Nunito"> Phone:</span>  +1-248-370-5860<br>
            <span class="cor-text-16-700-Nunito">Email:</span>  sales@cortracker.com<br>
            <span class="cor-text-16-700-Nunito"> Email: </span> support@cortracker.com<br>
        </p>
        </div>
    <div class="cor-footer-section3"> 
        <h1 class="cor-text-18-700-Nunito-Sans">About Us</h1>
        <p class="cor-text-14-400-Nunito">Contact Us</p>
        <p  class="cor-text-14-400-Nunito">About Us</p>
        <p  class="cor-text-14-400-Nunito">Terms</p>
        <p  class="cor-text-14-400-Nunito">Packages</p>
        <p  class="cor-text-14-400-Nunito">FAQ</p>
    </div>
    <div class="cor-footer-section4 cor-footer-section4">
        <h1 class="cor-text-18-700-Nunito-Sans">Services</h1>
        <p class="cor-text-14-400-Nunito">Increase Sales</p>
        <p  class="cor-text-14-400-Nunito">Manage Orders</p>
        <p  class="cor-text-14-400-Nunito">End-to-end tracking</p>
        <p  class="cor-text-14-400-Nunito">Multiple shipping integrations</p>
        <p  class="cor-text-14-400-Nunito">Contact Us</p>

    </div>
    <div class="cor-footer-section5">
        <h1 class="cor-text-18-700-Nunito-Sans">Follow us</h1>
        <p class="cor-text-14-400-Nunito">Facebook</p>
        <p  class="cor-text-14-400-Nunito">Instagram</p>
        <p  class="cor-text-14-400-Nunito">Twitter</p>
        <p  class="cor-text-14-400-Nunito">Youtube</p>
        <p  class="cor-text-14-400-Nunito">Linked in</p>

    </div>
   
</div>   
    <div class="footer-toe-container cor-bg-color-lightgrayishblue cor-toe-bind cor-text-14-400-Nunito">
        <p>© Copyrights Cortracker Inc 2012 - 2022. All rights reserved.</p>
    </div>


</footer>


