<div>
    <div class="cor-aboutus-header">
        <div class="cor-text-45-600-Nunito-Sans cor-color-lightblue ">IMS(Invetory Management System) </div>
        <div class="cor-text-20-400-Nunito-Sans cor-color-slategray">Scroll down for more features</div><br><br><br><br>
        <div class="cor-text-30-600-Nunito-Sans">Get Real-Time Inventory Updates</div>
        <ul class="cor-text-16-400-Nunito">
            <li> In each warehouse, view real-time inventory is available
            </li>
            <li> As inventory is depleted, in every channel of business, Cortracker automatically updates stock levels
            </li>
            <li> To support your most profitable channels or customers, control and prioritize stock levels
            </li>
        </ul>
    </div>

    <!-- Improve Customer Experience  -->
    <div class="cor-ims">
        <div class="cor-1"><img class="cor-img1" src="../../../assets/images/ims/london-eye-with-river-thames 1.png">
        </div>
        <div class="cor-ims-1">
            <h1 class="cor-text-30-600-Nunito-Sans cor-ims-improve-2">Improve Customer Experience</h1>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> Avoid stock-outs through Cortracker’s real-time
                    inventory updates</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> Reduce human error through pre-printed pick and
                    ship and packing lists</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> By analyzing channels of business and product
                    lines, it can help to reduce costs</span></div>
            <br><br>
            <p class="cor-text-16-400-Nunito cor-ims-improve-2 cor-color-lightblack">Creating a single customer view
                companies, with modern
                IMS can create a holistic
                view of each customer, including the history of all their important touchpoints with the
                company.<br>
                Easing access to Customer information with a centralized system, its easier for
                customer-facing teams, to understand the needs and improving management of
                supply and demand required depending on the customer requirements, which is
                usually different in nature comparatively.</p>
        </div>
    </div>

    <!-- Improve Operations With Real-Time Reporting -->


    <div class="cor-ims cor-ims-res">
        <div class="cor-ims-1">
            <h1 class="cor-text-30-600-Nunito-Sans cor-ims-improve-2">Improve Operations With Real-Time Reporting</h1>
            <p class="cor-text-16-400-Nunito cor-ims-improve-2 cor-color-lightblack">Timely and Easy Reporting Robust
                IMP systems are all-in-one platforms designed
                for modern big, medium and small enterprises that need powerful reporting
                capabilities to provide an accurate view of their operations in real time.
                Real-time Data to Inform Business Decisions Having access to up-to-the-minute
                data is a major advantage in today’s fast-paced manufacturing settings.</p>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span>
                <span class="cor-text-16-400-Nunito cor-color-lightblack">Improve inventory turns and margins through insightful reporting</span>
            </div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span>
                <span class="cor-text-16-400-Nunito cor-color-lightblack">By viewing current and past data making purchasing decisions quickly</span>
            </div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span>
                <span class="cor-text-16-400-Nunito cor-color-lightblack">By analyzing channels of business and product lines, it can help to reduce costs</span>
            </div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span>
                <span class="cor-text-16-400-Nunito cor-color-lightblack">To support your most profitable channels or customers, control and prioritize stock levels</span>
            </div><br>
        </div>
        <div class="cor-logo">
            <img class="cor-img4" src="../../../assets/images/ims/Group 450.png">
        </div>
    </div>


    <!-- Product features -->

    <div class="cor-ims">
        <div class="cor-2"><img class="cor-img2"
                src="../../../assets/images/ims/automation-solutions-warehouse-1536x864 1.png"></div>
        <div class="cor-ims-prod-1">
            <h1 class="cor-text-30-600-Nunito-Sans cor-color-lightblue ">Product features</h1>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> Order Management</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> Inventory Management</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> Barcode System</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> Vendor Management</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> Invoice Management</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> QB Online Integration</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> Cloud platform with Universal site
                    Access</span></div><br>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-16-400-Nunito cor-color-lightblack"> User privileges</span></div><br>
        </div>
    </div>

    <!-- See How Cortracker Helps You Put The Customer First -->

    <div class="cor-ims cor-ims-res">
        <div class="cor-ims-1">
            <h1 class="cor-text-30-600-Nunito-Sans cor-ims-improve-2">See How Cortracker Helps You Put The Customer
                First</h1>
            <p class="cor-text-16-400-Nunito cor-ims-improve-2 cor-color-lightblack">Cortracker powers your entire
                wholesale distribution business by providing you with the insights needed to sell more to happy
                customers. If you’d like to learn how Cortracker consolidates customer, order and inventory management
                software into one application, we’ll be happy to customize a demo based on your business and needs.</p>
            <p class="cor-text-16-400-Nunito cor-ims-improve-2 cor-color-lightblack">Streamlining backend business
                processes CORtracker software helps
                companies: deliver goods to customers faster, improve productivity, and
                implement precise inventory control.<br>
                Matching supply with demand and with order fulfilment by connecting sales
                order management.<br>
                Improving user experience and enabling access to the information you need
                to serve the customer in best possible manner.</p>
        </div>
        <div class="cor-1">
            <img class="cor-img3" src="../../../assets/images/ims/london-eye-with-river-thames 2.png">
        </div>
    </div>


</div>