
    <div class='cor-header-slin'>
        <div class='cor-header-slin-la'>
            <span class="material-icons-outlined md-18">
            </span>
            <div class="cor-color-black cor-text-12-400-Nunito">37085, Grand River Avenue, Suite #083, Farmington, MI, 48335,
                USA.</div>
        </div>
        <div class='cor-header-slin-lb cl-bylw-a cl-fwit-a cor-bg-color-headerorange'>
            <span class="material-icons md-18">
                <img src="../../../assets/images/icons/Vector.png" alt="">
            </span>
            <div class="cor-color-headerbg cor-text-12-400-Nunito ">+1-947-(228)-6862</div>
        </div>
    </div>
    <div class="cor-header-main"> 
        <div>        
            <img src="../../../assets/images/home/image 1.png" class="cor-header-logo">
            <ul class="cor-header-mnin-menu-ul">
                <li><a [routerLink]="['/']" class="header-list-a">Home</a></li>                       
                <li><a [routerLink]="['/aboutus']" class="header-list-a">About Us</a></li>
                <li><a [routerLink]="['/Services']" class="header-list-a">Services</a></li>
                <li><a [routerLink]="['/Products']" class="header-list-a">Products</a></li>
                <li><a [routerLink]="['/Clients']" class="header-list-a">Clients</a></li>
                <li><a [routerLink]="['/Contact']" class="header-list-a">Contact</a></li>
            </ul>
            <img src="../../../assets/images/icons/navigation.png" width="45px" class="cor-mob-menu-icon">
        </div>
    </div>
    <!-- <div class="cor-header-mobile-menu cl-bgey-a" id='jhmob-mlist'>
        <div class="cor-header-mobmenu-head">
            <span>
                <img src="../../../assets/images/home/image 1.png" alt="">
            </span>
            <span class="material-icons-outlined" id='jhmob-mclose'>
                close
            </span>
        </div>
        <div class="cor-header-mobmenu-list">
            <ul>
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/erp']">ERP</a></li>
                <li><a [routerLink]="['/supplychainmanagement']">Supply chain Management</a></li>
                <li><a [routerLink]="['/Vision']">Vision</a></li>
                <li><a [routerLink]="['/Technologies']">Technologies</a></li>
                <li><a [routerLink]="['/Services']">Services</a></li>
                <li><a [routerLink]="['/Products']">Products</a></li>
                <li><a [routerLink]="['/Clients']">Clients</a></li>
                <li><a [routerLink]="['/Contact']">Contact</a></li>
            </ul>
        </div>
        <div class="cor-header-mobmenu-cdetails">
            <div class='container'>
                <div class="row">
                    <div class="col-sm">
                        <div class='cor-header-slin-la'>
                            <span class="material-icons-outlined md-18">
                            </span>
                            <div>37085, Grand River Avenue, Suite #083, Farmington, MI, 48335, USA.</div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class='cor-header-slin-lb cl-bylw-a cl-fwit-a'>
                            <span class="material-icons md-18">
                                <img src="../../../assets/images/icons/Vector.png" alt="">
                            </span>
                            <div>+1-947-(228)-6862</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
