<div>
    <div class="cor-center">
        <h2 class="cor-text-30-600-Nunito-Sans">Key Built-In Features</h2>
        <p class="cor-text-15-600-Nunito-Sans">We enjoy adapting our strategies to offer every client the best
            solutions<br> that are at the forefront of the industry</p>
    </div>
    <div class="cor-header2-1">
        <div class="cor-header2-box">
            <img src="../../../assets/images/home/Rectangle 23.png" class="cor-img">
            <h4 class="cor-text-16-600-Nunito-Sans cor-header2-2">REAL-TIME INVENTORY VISIBILITY</h4>
            <p class="cor-text-14-400-Nunito-Sans cor-header2-3">Enjoy real-time, detailed visibility into key inventory control and supply chain management measures.</p>
        </div>
        <div class="cor-header2-box">
            <img src="../../../assets/images/home/Rectangle 23 (1).png" class="cor-img">
            <h4 class="cor-text-16-600-Nunito-Sans cor-header2-2">INVENTORY & ORDER FULFILLMENT</h4>
            <p class="cor-text-14-400-Nunito-Sans cor-header2-3">Cortracker saves any distribution countless hours of work associated with data entry, organization and fulfillment.</p>
        </div>
        <div class="cor-header2-box">
            <img src="../../../assets/images/home/Rectangle 23 (2).png" class="cor-img">
            <h4 class="cor-text-16-600-Nunito-Sans cor-header2-2">ONE SYSTEM FOR ENTIRE BUSINESS</h4>
            <p class="cor-text-14-400-Nunito-Sans cor-header2-3">Eliminate IT costs and concerns associated with maintaining and upgrading separate applications.</p>
        </div>

    </div>
</div>
