.cor-aysc {
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 140px;
    margin-bottom: 225px;
}

.cor-center {
    text-align: start;
}

.cor-access-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 100px;

    div {}
}

.cor-row1 {
    max-width: 553px;
}

.cor-row2 {
    max-width: 500px;
}

.cor-rev {
    flex-direction: row-reverse;
}

.cor-row1,
.cor-row2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cor-access-img {
    margin: 20px;
    width: 340px;
    height: 380px;
    padding: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 4px dashed #FAB31A;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.cor-access-img1 {
    width: 583px;
    height: 422px;
    padding: 20px;
    background: #FFFFFF;
    border: 4px dashed #FAB31A;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cor-access-img2 {
    width: 574px;
    height: 442px;
    padding: 20px;
    background: #FFFFFF;
    border: 4px dashed #FAB31A;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}



@media only screen and (max-width: 600px) {
    .cor-access-1 {
        flex-direction: column;
        gap: 20px;

        img {
            width: 270px;
            height: 298px;
            padding: 14px 9px;
            background: #FFFFFF;
            border: 2px dashed #FAB31A;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        h1 {
            font-weight: 600;
            font-size: 16px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
        }
    }
    .cor-aysc {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cor-row1,
    .cor-row2 {
        padding-left: 44px;
        padding-right: 34px;
    }

    .cor-access-m {
        flex-direction: column-reverse;
    }
}

@media only screen and ((min-width: 601px) and (max-width:1100px)){
     .cor-access-1 {
        flex-direction: row;
        gap: 20px;

       

        h1 {
            font-weight: 600;
            font-size: 16px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
        }
    }
    .cor-aysc {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cor-row1,
    .cor-row2 {
        padding-left: 44px;
        padding-right: 34px;
    }

    .cor-access-m {
        flex-direction: column-reverse;
    }

     .cor-access-img1{
        margin: 20px;
        width: 340px;
        height: 380px;
        padding: 20px;
        border-radius: 10px;
        background: #FFFFFF;
        border: 4px dashed #FAB31A;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

    }
    .cor-access-img2{
        margin: 20px;
    width: 340px;
    height: 380px;
    padding: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 4px dashed #FAB31A;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    
    }
    #cor-access-flex{
        display: flex;
        flex-direction: row-reverse;
        padding-right: 20px;
    }

   

    
}