<div>
    <div class="cor-access-1">
        <div>
            <div class="cor-access-2">
                <img class="cor-access-img" src="../../../assets/images/home/wwa-txt.jpg">
            </div>
        </div>
        <div class="cor-access-3 cor-background-img">
            <h1 class="cor-text-30-600-Nunito-Sans cor-center cor-access-3">Access your store anywhere, anytime</h1><br>
            <p class="cor-text-16-600-Nunito cor-center cor-access-3">Break free from the counter, stockroom or office.
                Cortracker is
                cloud-based POS software, so you can sign in and work from anywhere. Easily access your sales, products
                and reports, and always have the latest data. And if the internet goes down, Cortracker will still trade
                offline. Modern retail is online, in-store and mobile, so get to the point of sale system that takes you
                where you need to go.</p>
        </div>
    </div>
    <div class="cor-access-1 cor-access-m">
        <div class="cor-access-3">
            <h1 class="cor-text-30-600-Nunito-Sans cor-center cor-access-3">Tools, Simple Enough .<br>For Everyone</h1><br>
            <p class="cor-text-16-600-Nunito cor-center cor-access-3">Access the best technology for your business. Cortracker’s software is fast, intuitive and designed for modern retail. It’s easy for your team to use and works across iPad, Mac or PC with popular hardware. Cortracker’s best-in-class product and inventory features with powerful reporting insights help you make smarter, more profitable decisions, whether you have one store or twenty.</p>
        </div>
        <div>
            <div class="cor-access-4">
                <img class="cor-access-img1" src="../../../assets/images/home/wwa-txt (1).jpg">
            </div>
        </div>
    </div>
    <div class="cor-access-1">
        <div>
            <div class="cor-access-5">
                <img class="cor-access-img2" src="../../../assets/images/home/wwa-txt (2).jpg">
            </div>
        </div>
        <div class="cor-access-3">
            <h1 class="cor-text-30-600-Nunito-Sans cor-center cor-access-3">Grow And Scale Your Business <br>With Ease</h1><br>
            <p class="cor-text-16-600-Nunito cor-center cor-access-3">Take the pain out of growing your retail business. Cortracker is fast and inexpensive to scale, so you can get set up and selling in no time - and add new staff, registers, sales channels and locations in just one click. Cortracker is continually adding and further developing features, so your business stays at the front of retail without installation hassles or extra fees.</p>
        </div>
    </div>
</div>