.clients-heading{
    text-align: center;
    padding-top: 150px;
    margin-top: 0px;
}
.client-div{
    background-image: url('../../../assets/images/clients/bg-img.png');
    background-repeat: no-repeat;
    background-position-x: center;
}
.clients-img-section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.client-image{
    margin: 20px;
}
.client-image2{
     margin-left: 60px;
}

//conditions.......

@media only screen and (max-width: 400px) {
    .clients-img-section1{
        display: flex;
        flex-direction: column;
         
    }
}