.cor-body{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding-left: 91px;
    padding-top: 68px;
    padding-bottom: 36px;
    box-sizing: border-box;
}
.cor-aboutus-header{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: auto;
    // margin-left: 88px
}
@media only screen and (max-width: 600px) {
    .cor-body{
        // padding-left: 45px;
    }

  }