<div class="cor-body">
    <div class="corfaq">

        <div class="cor-text-30-600-Nunito-Sans cor-faq-m1">FAQ</div><br>
        <div class="cor-faq">
            <div class="cor-faq-1">
                <span class="cor-text-20-600-Nunito cor-faq-m2">What does inventory management software do?</span>
                <span><img class="cor-faq-2" src="../../../assets/images/about-us/plus.png"></span>
            </div>
            <div class="cor-faq-1">
                <span class="cor-text-20-600-Nunito cor-faq-m2"> What are some of the advantages of using inventory management
                    software?</span>
                <span><img class="cor-faq-2" src="../../../assets/images/about-us/plus.png"></span>
            </div>
            <div class="cor-faq-1">
                <span class="cor-text-20-600-Nunito cor-faq-m2">What is a healthy inventory level?</span>
                <span><img class="cor-faq-2" src="../../../assets/images/about-us/plus.png"></span>
            </div>
            <div class="cor-faq-1">
                <span class="cor-text-20-600-Nunito cor-faq-m2">What is the maximum inventory level?</span>
                <span><img class="cor-faq-2" src="../../../assets/images/about-us/plus.png"></span>
            </div>

        </div>
    </div>

</div>