<div class="cor-stream">
    <div class="cor-stream-inner">
        <div class="cor-stream1">
            <h1 class="cor-text-45-700-Nunito cor-color-lightblue">Streamline your Business,</h1>
            <h1 class="cor-text-45-700-Nunito cor-color-black">Services-Best in class.</h1>
            <p class="cor-text-18-400-Nunito-Sans">Increase your sales and keep track of every unit with our powerful stock
                management, order, fulllfillment, and inventary control software.</p>
            <div class="cor-button">
                <button class="cor-color-headerbg button1 cor-text-16-700-Nunito-Sans"><span>Request a Quote</span></button>
                <button class="cor-color-black button2 cor-text-16-700-Nunito-Sans"><span>Request a Call Back</span></button>
            </div>
        </div>
        <div class="cor-stream2">
            <div class="cor-top">
                <div class="cor-top1 cor-box">
                    <div>
                        <img src="../../../assets/images/icons/operator1.png">
                        <span class="cor-text-14-600-Nunito">Inventory Management</span><br>
                    </div>
                    <div><img src="../../../assets/images/icons/operator2.png">
                        <span class="cor-text-14-600-Nunito">Warehouse Management</span>
                    </div>
                </div>
                <div class="cor-top2 cor-box">
                    <img src="../../../assets/images/home/phonetwo.png">
                </div>
            </div>
            <div class="cor-down">
                <div class="cor-down1 cor-box">
                    <img src="../../../assets/images/home/phonetwo1.png">
                </div>
                <div class="cor-down2 cor-box">
                    <div>
                        <img src="../../../assets/images/icons/tick.png">
                        <span class="cor-text-14-600-Nunito">Accountings</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/icons/tick.png">
                        <span class="cor-text-14-600-Nunito">Returns</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/icons/tick.png">
                        <span class="cor-text-14-600-Nunito">Invoicing</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/icons/tick.png">
                        <span class="cor-text-14-600-Nunito">Reportings</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>>