.cor-stream {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 118px;
    margin-bottom: 136px;
}

// body left side
.cor-stream1 {
    max-width: 643px;

    p {
        margin-top: 30px;
    }
}

.cor-button {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.button1 {
    width: 184px;
    height: 52px;
    background: #F9AB00;
    box-shadow: 0px 0px 20px rgba(249, 171, 0, 0.5);
    border-radius: 10px;
    border: none;
}

.button2 {
    width: 204px;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
}

// body right side
.cor-stream2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 562px;
}

.cor-top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

.cor-down {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.cor-box {
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
}

.cor-top1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 267px;
    height: 120px;
    padding: 25px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

    div {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
    }
}

.cor-top2 {
    padding: 5px;
    width: 255px;
    height: 293px;
    box-shadow: 0px 0px 40px rgba(32, 33, 36, 0.1);

    img {
        width: 234.92px;
        height: 272.93px;
    }
}

.cor-down1 {
    padding: 8px 10px;
    width: 390px;
    height: 230px;
    box-shadow: 0px 0px 40px rgba(32, 33, 36, 0.1);

    img {
        width: 359.49px;
        height: 200.49px;
        border-radius: 6px;
    }
}

.cor-down2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    width: 162px;
    height: 181px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

    span {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .cor-stream {
        flex-direction: column;
        margin-top: 22px;
        margin-bottom: 67px;
    }

    .cor-stream1 {
        padding-left: 30px;
        padding-right: 20px;

        h1 {
            font-weight: 700;
            font-size: 30px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            max-width: 304px;
        }
    }

    .button1 {
        width: 110px;
        height: 40px;

        span {
            font-weight: 700;
            font-size: 10px;
        }
    }

    .button2 {
        width: 110px;
        height: 40px;

        span {
            font-weight: 700;
            font-size: 10px;
        }
    }


    .cor-stream2 {
        padding: 0px 70px 0px 80px;
    }

    .cor-top1 {
        width: 120px;
        height: 56px;
        gap: 11px;

        span {
            font-weight: 600;
            font-size: 7px;
        }
    }

    .cor-top2 {
        width: 77px;
        height: 82.76px;
        padding: 2.8px 6px 2.8px 2px;
        img {
            width: 65.94px;
            height: 69.09px;
        }
    }

    .cor-down1 {
        width: 131px;
        height: 81px;
        display: none;
    }

    .cor-down2 {
        width: 65.57px;
        height: 69.66px;
        display: none;
    }
}