<!-- <div class="cor-services-bg-container">
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Automation Technologies</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>Machine Learning </li>
                    <li>Artificial Intelligence</li>
                    <li>Advisory Services</li>
                </ul>
            </div>
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Digital Operations</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>Digitizing Process </li>
                    <li>Automation & Robotics</li>
                    <li>ServicesNow Solutions </li>
                    <li>Customer Support</li>
                </ul>
            </div>
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Staffing & Recruitment</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>IT Talent</li>
                    <li>ServiceNow Talent</li>
                    <li>Finance & Accounting Talent</li>
                </ul>
            </div>
      
        
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Software Engineering</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>Advisory Services </li>
                    <li>Enterprise Rollout & Adoption Support</li>
                    <li>DevOps </li>
                    <li>Architecture</li>
                    <li>Cloud, Infrastructure & Technology</li>
                    <li>UX Design</li>
                    <li>Change Testing & Release </li>
                    <li>Product Engineering</li>
                    <li>Custom Application Engineering</li>
                </ul>
            </div>
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Support Services</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>IT Help Desks </li>
                    <li>Customer Support</li>
                    <li>Ordere-to-Cash</li>
                    <li>Software & Applications Support</li>
                    <li> Product & Technical Support </li>
                    <li>Advisory Services</li>
                    <li>Our Center of Excellence</li>
                    
    
                </ul>
            </div>
            <div class="cor-services-section1"id="cor-services-section2">
                <h1 class="cor-text-30-700-Nunito-Sans cor-color-lightblack">Backoffice Services</h1>
                <ul class="cor-text-16-600-Nunito">
                    <li>Supply Chain </li>
                    <li>Finance & Accounting </li>
                    <li>Compliance & Regulatory Reporting</li>
                    <li>Data Science & Analysis</li>
                    <li>Order-to-Cash</li>
                    <li>Advisory Services</li>
                </ul>
            </div>
      
    
    </div>
 -->

 <div class="cor-services-main">
   
     
     
   
    <!-- section-1 -->
   <div class="cor-services-section1 cor-services-bg1">  
          
        <div>     
            <h2 class="cor-text-45-600-Nunito-Sans cor-color-lightblue ">Services Offered</h2>
            <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Software Engineering</h1>
            <ul>
               <li class="cor-text-16-600-Nunito cor-color-lightblack" >Advisory Services</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Enterprise Rollout & Adoption Support</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">DevOps </li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Architecture</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Cloud, Infrastructure & Technology</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">UX Design</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Change Testing & Release</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Product Engineering</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Custom Application Engineering</li>
           </ul>
        </div>
        <img src="../../../assets/images/services/img1.png" alt="">
   </div>
   <div class="cor-services-bg2">
    <div class="cor-services-section1">     
        <img src="../../../assets/images/services/img2.png" alt="">   
        <div>
            <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Automation Technologies</h1>
            <ul>
               <li class="cor-text-16-600-Nunito cor-color-lightblack" >Machine Learning</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Artificial Intelligence</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Advisory Services</li>
              
           </ul>
        </div>
       
        </div>
    
        <div class="cor-services-section1">     
            
            <div>
                <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Digital Operations</h1>
                <ul>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack" >Digitizing Process</li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack">Automation & Robotics</li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack">Services Now Solutions </li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack">Customer Support</li>
                  
               </ul>
            </div>
            <img src="../../../assets/images/services/img3.png" alt="">   
           
        </div>
    
        <div class="cor-services-section1">
            <img src="../../../assets/images/services/img4.png" alt="">   
            <div>
                <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Support Services</h1>
                <ul>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack" >IT Help Desks</li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack">Customer Support</li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack">Ordere-to-Cash </li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack">Software & Applications Support</li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack"> Product & Technical Support</li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack">Advisory Services</li>
                   <li class="cor-text-16-600-Nunito cor-color-lightblack">Our Center of Excellence</li>
                  
               </ul>
            </div>
         </div>
    
         
    

   </div>
<div class="cor-services-bg3">

    <div class="cor-services-section1">     
        
        <div>
            <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Staffing & Recruitment</h1>
            <ul>
               <li class="cor-text-16-600-Nunito cor-color-lightblack" >IT Talent Acquisition</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Recruitment Services</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Marketing Services  </li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Client Relation Management</li>
              
           </ul>
        </div>
        <img src="../../../assets/images/services/img5.png" alt="">   
       
    </div>

    <div class="cor-services-section1">     
        <img src="../../../assets/images/services/img6.png" alt="">   
       
        <div>
            <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Staffing & Recruitment</h1>
            <ul>
               <li class="cor-text-16-600-Nunito cor-color-lightblack" >Supply Chain</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Finance & Accounting </li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Compliance & Regulatory Reporting </li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Order-to-Cash</li>
               <li class="cor-text-16-600-Nunito cor-color-lightblack">Advisory Services</li>
              
           </ul>
        </div>
        
    </div>
</div>
    
    



 </div>