<div class="cor-services-bg-container">
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Automation Technologies</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>Machine Learning </li>
                    <li>Artificial Intelligence</li>
                    <li>Advisory Services</li>
                </ul>
            </div>
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Digital Operations</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>Digitizing Process </li>
                    <li>Automation & Robotics</li>
                    <li>ServicesNow Solutions </li>
                    <li>Customer Support</li>
                </ul>
            </div>
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Staffing & Recruitment</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>IT Talent</li>
                    <li>ServiceNow Talent</li>
                    <li>Finance & Accounting Talent</li>
                </ul>
            </div>
      
        
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Software Engineering</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>Advisory Services </li>
                    <li>Enterprise Rollout & Adoption Support</li>
                    <li>DevOps </li>
                    <li>Architecture</li>
                    <li>Cloud, Infrastructure & Technology</li>
                    <li>UX Design</li>
                    <li>Change Testing & Release </li>
                    <li>Product Engineering</li>
                    <li>Custom Application Engineering</li>
                </ul>
            </div>
            <div class="cor-services-section1">
                <h1 class="cor-text-30-700-Nunito-Sans">Support Services</h1>
                <ul class="cor-text-16-600-Nunito cor-color-lightblack">
                    <li>IT Help Desks </li>
                    <li>Customer Support</li>
                    <li>Ordere-to-Cash</li>
                    <li>Software & Applications Support</li>
                    <li> Product & Technical Support </li>
                    <li>Advisory Services</li>
                    <li>Our Center of Excellence</li>
                    
    
                </ul>
            </div>
            <div class="cor-services-section1"id="cor-services-section2">
                <h1 class="cor-text-30-700-Nunito-Sans cor-color-lightblack">Backoffice Services</h1>
                <ul class="cor-text-16-600-Nunito">
                    <li>Supply Chain </li>
                    <li>Finance & Accounting </li>
                    <li>Compliance & Regulatory Reporting</li>
                    <li>Data Science & Analysis</li>
                    <li>Order-to-Cash</li>
                    <li>Advisory Services</li>
                </ul>
            </div>
      
    
    </div>

